@media (max-width: 1200px)
  .container, .author-container
    max-width: 960px
  .hero
    &-info
      max-width: 490px
  .products
    &-wrapper
      flex-direction: column
      align-items: center
      margin-bottom: 56px
  .recommended
    max-width: 751px
    &__link
      margin-top: 0
  .rating
    max-width: 751px
    &-wrapper
      flex-direction: row
    &__link
      margin-top: 0
  .category
    &-slider
      &__title
        margin-top: 25px
        font-size: 18px
        line-height: 25px
        letter-spacing: normal
  .partners
    &__image
      &:nth-child(n+11)
        display: none
  .blog
    &-wrapper
      gap: 20px
    &-list
      &__image
        margin-right: 20px
      &__date
        margin-bottom: 10px
      &__title
        margin-bottom: 10px
        font-size: 18px
        line-height: 25px
  .footer
    &-wrapper
      max-width: 750px
      width: 100%
      gap: 20px
    &__list
      max-width: 165px
      width: 100%
@media (max-width: 1030px)
  .slider
    &-category
      max-width: 95%
      margin: auto
@media (min-width: 992px)
  .button
    &--full
      transition: all 0.5s
      &:hover
        color: $light
        background-color: $clean
        box-shadow: inset 0px 0px 20px $light
    &--clen
      transition: all 0.5s
      &:hover
        color: $clean
        background-color: $light
  a
    transition: color 0.3s
    &:hover
      color: $light
  .hero
    &-button
      &__back
        transition: color 0.3s
        &:hover
          color: $dark
  .recommended, .rating
    &-card
      &__button
        transition: all 0.5s
        &:hover
          color: $light
          background-color: $clean
          box-shadow: inset 0px 0px 20px $light
    &__link
      transition: color 0.3s
      &:hover
        color: $dark
  .subscribe
    &-form
      &__button
        transition: all 0.5s
        &:hover
          background-color: $light
  .blog
    &-list
      &__link
        transition: all 0.3s
        &:hover
          color: $dark
      &__button
        &--clen
          transition: all 0.5s
          &:hover
            color: $clean
            background-color: $light
@media (max-width: 992px)
  .container, .author-container
    max-width: 700px
  .hero
    align-items: center
    &-wrapper
      margin: auto
      justify-content: center
      flex-wrap: wrap
      align-items: center
    &-info
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
    &-button
      flex-wrap: wrap
      justify-content: center
      &__buy
        flex-basis: 63%
        margin-bottom: 15px
        padding: 7px 16px
      &__read
        flex-basis: 64%
        margin-bottom: 36px
        font-size: 16px
        line-height: 22px
        padding: 7px 20px
  .recommended
    &-wrapper
      justify-content: center
      row-gap: 15px
      column-gap: 5px
    &-card
      width: 350px
      gap: 15px
      padding: 7px
      &:nth-child(n+2)
        display: none
  .slider
    &-category
      max-width: 100%
  .author
    padding-top: 60px
    padding-bottom: 20px
    &-info
      flex-direction: column
      align-items: center
      text-align: center
      margin-bottom: 35px
    &__title
      font-size: 38px
      line-height: 50px
    &__text
      line-height: 25px
    &-card
      &__title
        font-size: 18px
        line-height: 24px
        margin-right: 0
  .partners
    &-wrapper
      justify-content: space-between
    &__image
      width: 170px
      &:nth-child(n+9)
        display: none
  .blog
    padding-top: 58px
    padding-bottom: 48px
    &-wrapper
      flex-direction: column
      gap: 35px
    &__title
      font-size: 38px
      line-height: 50px
    &-info
      width: 100%
      &__wrapper
        flex-direction: row
        height: 100%
        gap: 20px
      &__image
        width: 450px
      &__description
        padding: 0
      &__title
        margin-top: 10px
        font-size: 22px
        line-height: 30px
    &-list
      width: 100%
      gap: 20px
      &__button
        align-self: center
        margin-bottom: 0
        order: 1
      &__wrapper
        flex-direction: row
        height: 100%
      &__item
        flex-direction: column
        gap: 10px
    &-slider
      &__card
        max-width: 230px
        padding: 25px 9px
  .newsletter
    &-wrapper
      background-color: $light
      background-image: none
      flex-direction: column
      &::after
        bottom: -78px
  .subscribe
    &-form
      margin-top: 0
  .footer
    padding-top: 80px
    &-top
      flex-direction: column
      height: 424px
      gap: 40px
    &-logo
      flex-direction: row
      align-items: center
      height: 150px
      width: 100%
      gap: 35px
  .arrow
    &-up
      right: -15px
@media (max-width: 767px)
  .container, .author-container
    max-width: 576px
    width: 90%
  .header
    position: fixed
    width: 100%
    top: 0
    z-index: 100
    padding: 18px 0 15px 0
    background-color: $clean
    &-container
      width: 84%
    &-top
      z-index: 3
      padding: 0
    &-menu
      display: none
      &--mobile
        display: flex
        flex-direction: column
        align-items: center
        position: fixed
        top: 60px
        left: 0
        width: 100%
        min-height: 100vh
        background-color: $dark
        justify-content: flex-start
        min-width: 0
        overflow: auto
      &__list
        display: flex
        flex-direction: column
        justify-content: flex-start
        margin-top: 15px
        width: 100%
      &__item
        width: 100%
        text-align: center
        border-bottom: 1px solid $dark
        padding-bottom: 5px
        margin-bottom: 20px

      &__link
        font-size: 18px
        line-height: 25px
        color: $clean
      // &__button
      //   display: none
    &-burger
      display: block
      position: relative
      width: 22px
      height: 22px
      &--sec
        display: none
      &::before
        content: ''
        background-color: #3A4C66
        position: absolute
        width: 100%
        height: 2px
        left: 0
        top: 0
      &::after
        content: ''
        background-color: #3A4C66
        position: absolute
        width: 100%
        height: 2px
        left: 0
        bottom: 5px
      &__line
        background-color: #3A4C66
        position: absolute
        width: 100%
        height: 2px
        left: 0
        bottom: 12px
  .hero
    padding-bottom: 53px
    &-wrapper
      padding-top: 103px
    &-info
      &__title
        font-size: 32px
        line-height: 40px
        margin-bottom: 24px
      &__subtitle
        font-weight: 400
        font-size: 16px
        line-height: 24px
        margin-bottom: 32px
        &--col
          margin-bottom: 15px
      &__about
        font-size: 16px
        line-height: 23px
        margin-bottom: 17px
    &-cover
      min-height: 328px
  .recommended
    &-card
      &:nth-child(n+2)
        display: none
      &__text
        padding-bottom: 2px
  .rating
    &__title
      font-size: 28px
      line-height: 36px
    &-wrapper
      justify-content: space-between
      gap: 0
    &-card
      width: 232px
      height: 142px
      gap: 15px
      margin-bottom: 36px
      &__image
        width: 96px
        height: 142px
      &__title
        font-family: $roboto-condensed
        font-size: 16px
        line-height: 24px
        margin-bottom: 12px
        margin-top: -2px
      &__price
        margin-bottom: 14px
  .category
    &-slider
      height: 500px
      margin: auto
      &__card
        height: 240px
        margin: 0
      &__item
        justify-content: center
        width: 230px
        height: 240px
  .slider
    &-category
      &__button
        top: 100%
        &--prev
          left: 50%
          transform: translate(50%, 50%)
          margin-left: -95px
        &--next
          right: 50%
          transform: translate(-50%, 50%)
          margin-right: -95px
  .unreleased
    padding-top: 48px
    padding-bottom: 98px
    &__title
      text-align: center
      font-weight: bold
      font-size: 28px
      line-height: 36px
      margin-bottom: 41px
  .author
    &__image
      height: 300px
    &__button
      background-size: 80% 80%
    &-wrapper
      justify-content: space-between
      gap: 0
    &-card
      width: 170px
      height: 229px
      &__wrapper
        flex-direction: column
        align-items: center
        text-align: center
      &__button
        top: 55%
        left: 54%
        background-size: 70% 70%
      &__icon
        order: 1
      &__text
        margin-bottom: 16px
  .partners
    padding-top: 37px
    padding-bottom: 34px
    &__title
      line-height: 30px
      margin-bottom: 40px
    &-wrapper
      row-gap: 40px
      justify-content: space-between
    &__image
      width: 170px
      &:nth-child(n+7)
        display: none
  .blog
    &__title
      text-align: center
    &-info
      &__wrapper
        flex-direction: column
      &__image
        width: 100%
        margin-bottom: 0
    &-list
      &__wrapper
        flex-direction: column
      &__item
        flex-direction: row
        gap: 0
      &__text
        padding: 1px
        margin: -1px
  .newsletter
    &-wrapper
      padding: 26px 24px
      gap: 32px
    &-title
      font-size: 30px
      line-height: 40px
  .footer
    &__description
      gap: 20px
    &__list
      max-width: 115px
  .to-top
    display: none

@media (max-width: 585px)
  .recommended
    &__title
      margin-bottom: 36px
      text-align: center
    &-card
      flex-direction: column
      text-align: center
      height: 312px
      margin-top: 35px
      margin-bottom: 26px
      gap: 20px
      &:nth-child(n+2)
        display: none
      &__image
        margin-top: -35px
        width: 96px
        height: 137px
      &__title
        letter-spacing: 0.2px
      &__category
        margin-bottom: 17px
    &__link
      padding: 14px 0
      text-transform: none
@media (max-width: 576px)
  .rating
    max-width: 290px
  .category
    &-slider
      &__card
        margin: auto
        max-width: 200px
  .recommended
    &-card
      &__button
        margin-right: 21px
        margin-left: 6px
      &__heart
        padding: 4px 1px 0 0
    .unreleased
      padding-top: 48px
      padding-bottom: 98px
      &__title
        margin-bottom: 41px
        font-size: 28px
        line-height: 36px
        text-align: center
    &-slider
      width: 95%
      &__image
        width: 206px
        height: 300px
        margin-right: 0
  .slider
    &-unreleased
      margin-bottom: 40px
      &__button
        width: 48px
        height: 48px
        top: 100%
        transform: translateY(40px)
        &--prev
          left: 50%
          margin-left: -58px
        &--next
          right: 50%
          margin-right: -58px
  .author
    padding-top: 44px
    padding-bottom: 44px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &__text
      width: 280px
    &__image
      height: 210px
      background-image: url(../img/author/video_1.jpg)
      margin-bottom: 18px
    &__button
      top: 60%
      left: 57%
      background-size: 55% 55%
    &-card
      width: 135px
      &__title
        font-size: 16px
        line-height: 20px
        margin-bottom: 6px
      &__text
        font-size: 12px
        line-height: 20px
        margin-bottom: 9px
      &__image
        height: 138px
        object-fit: cover
        margin-bottom: 17px
      &__button
        top: 55%
        left: 54%
        background-size: 70% 70%
      &__image
        &-inner
          height: 100%
          object-fit: cover
  .partners
    &-wrapper
      width: 275px
      margin: 0 auto
      row-gap: 24px
    &__image
      width: 135px
  .blog
    &-wrapper
      margin-left: 4px
      gap: 30px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 48px
    &-info
      &__image
        height: 220px
      &__title
        margin-top: 0
        margin-bottom: 10px
        font-size: 20px
        line-height: 20px
      &__text
        font-size: 16px
        line-height: 24px
    &-list
      gap: 36px
      &__image
        width: 150px
      &__date
        font-size: 12px
      &__title
        font-size: 16px
        line-height: 20px
      &__link
        font-size: 14px
      &__button
        margin-top: 0
        padding: 11px 47px 10px
        font-size: 14px
  .subscribe
    &-form
      max-width: 447px
      width: 100%
      height: 112px
      &__input
        height: 56px
        padding-right: 25px
      &__button
        top: 56px
        right: 11px
        width: 95%
        height: 42px
  #subscribe-error
    position: absolute
    bottom: -18px
    left: 11px
  .footer
    padding-top: 49px
    &-top
      margin-bottom: 64px
      height: 605px
      gap: 47px
    &-wrapper
      flex-wrap: wrap
      max-width: 330px
      margin: 0 auto
      gap: 39px 31px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__ul
      gap: 15px
    &__link
      font-size: 14px
      line-height: 20px
    &-logo
      width: 263px
      margin: 0 auto
      flex-direction: column
      order: 1
      gap: 10px
    &__description
      align-items: center
      gap: 14px
      text-align: center
  .arrow
    &-up
      width: 30px
@media (max-width: 499px)
  .unreleased
    &-slider
      max-width: 204px
      &__item
        max-width: 204px
        margin: auto
@media (min-width: 320px) and (max-width: 480px)
  .hero
    &-info
      margin-left: 4px
    &-button
      &__read
        margin-bottom: 27px
    &-cover
      width: 97%
  .products
    padding-bottom: 38px
    &-container
      width: 89%
      margin: 0 auto
    &-wrapper
      gap: 56px
      margin-bottom: 53px
    &-category
      padding-top: 55px
  .recommended
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 40px
    &-card
      width: 280px
      height: 312px
      margin-top: 35px
      margin-bottom: 7px
      gap: 20px
      &__image
        margin-top: -35px
        width: 96px
        height: 137px
      &__title
        letter-spacing: 0.2px
        font-weight: 500
        font-size: 20px
        line-height: 24px
        margin-bottom: 12px
      &__category
        margin-bottom: 17px
        font-weight: normal
        font-size: 14px
        line-height: 20px
      &__price
        font-size: 16px
        line-height: 20px
        margin-left: -10px
        margin-bottom: 16px
      &__button
        padding: 10px 24px
      &__wrapper
        justify-content: center
    &__link
      max-width: 97%
      padding: 14px 0
      text-transform: none
  .rating
    &__title
      margin-bottom: 37px
      text-align: center
    &-wrapper
      padding: 24px 14px 24px 11px
    &__link
      padding-top: 25px
  .category
    &-slider
      width: 100%
      height: 374px
      &__item
        height: 182px
        margin: 0px
      &__card
        max-width: 200px
        height: 182px
        padding: 16px 8px
      &__icon
        width: 36px
        height: 36px
      &__title
        margin-top: 12px
        font-family: $roboto-condensed
        font-weight: bold
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
        &--mb-3
          margin-bottom: 30px
      &__text
        font-size: 12px
        line-height: 20px
  .slider
    &-category
      &__button
        width: 48px
        height: 48px
        &--prev
          transform: translate(45%, 65%)
          margin-left: -75px
        &--next
          transform: translate(-45%, 65%)
          margin-right: -75px
  .author
    &-container
      width: 300px
    &__button
      top: 60%
      left: 57%
      background-size: 55% 55%
    &-card
      width: 140px
      &:last-child
        display: none
      &__button
        top: 55%
        left: 54%
        background-size: 70% 70%
      &__image
        &-inner
          height: 100%
          object-fit: cover
  .partners
    padding-bottom: 59px
    &__title
      margin-bottom: 29px
    &-wrapper
      width: 219px
      height: 130px
      row-gap: 0
    &__image
      width: 87px
      height: 29px
      margin-bottom: 23px
      &:nth-child(1)
        width: 99px
  .blog
    &-info
      &__image
        height: 120px
      &__title
        font-size: 16px
      &__text
        font-size: 12px
    &-list
      width: 282px
      &__wrapper
        gap: 28px
      &__image
        width: 90px
        height: 90px
      &__date
        margin-top: 0
        margin-bottom: 6px
        font-size: 10px
      &__title
        margin-bottom: 6px
        font-size: 14px
      &__link
        font-size: 10px
  .newsletter
    background-image: url(../img/CTA.jpg)
    background-repeat: no-repeat
    background-size: cover
    &-wrapper
      background-color: transparent
      width: 100%
      padding: 27px 7px
      &::after
        display: none
      &::before
        display: none
    &-title
      font-size: 28px
      line-height: 36px
      max-width: 210px
  .subscribe
    &-form
      &__button
        width: 92%
  .footer
    &-wrapper
      width: 261px
      margin-left: 7px
    &__text
      margin-left: -10px
    &-bottom
      display: none
    &-top
      margin-bottom: 0
  .modal
    &__content
      max-width: 350px
      width: 87%
      padding: 18px 28px
    &__close
      right: 11px
      top: 13px
    &__title
      font-size: 14px
      line-height: 18px
    &-form
      &__input
        height: 40px
        font-size: 14px
      &__text
        font-size: 11px
        line-height: 14px
      &__button
        min-height: 40px
        font-size: 12px
    &__response
      max-width: 350px
      width: 87%
      padding: 18px 28px
@media (max-width: 330px)
  .category
    &-slider
      &__card
        max-width: 137px
