*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  // font-family: 'Roboto', sans-serif
  // font-family: 'Roboto Condensed', sans-serif
.container
  max-width: 1140px
  margin: auto
  overflow: hidden
img
  max-width: 100%

a
  text-decoration: none

ul
  margin: 0
  padding: 0
  list-style: none

button
  cursor: pointer
  border: none
  overflow: hidden
